.App {
  text-align: center;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg,rgb(106, 106, 184),rgb(85, 85, 139));
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(70, 58, 121);
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

form input[type='button']:hover{
  background-color: blueviolet;
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;

}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(80, 79, 79);
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




